*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	scroll-behavior: smooth;
	overflow-x: hidden;
	font-size: 17px;
}
.min-h-100{
	min-height: 100vh;
}
.min-h-50{
    min-height: 50vh;
}

/*header*/
.header{
    background-color: black;
	color: white;
	padding: 30px;
	text-align: center;
}
#header-img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
/*navbar*/
#navbar{
	background: black;
	overflow-x: hidden;
	padding: 5px;
}
.nav-list{
	list-style-type: none;
}
.nav-item{
	display: inline-block;
	margin-left: 20px;
}
.nav-item a{
	font-family: Arial;
	text-decoration: none;
	color:#fff;
	font-size:20px;
	text-transform: capitalize;
	transition: 0.3s;
}
.nav-item.active{
	border-bottom: 1px solid white;
}
.main-header{
	justify-content: flex-start;
	align-items: center;
	padding: 0 20px;
}
.menu-toggle{
	color: white;
	float: right;
	font-size: 24px;
	line-height: 50px;
	display: none;
	cursor: pointer;
}
.fix-nav{
	position: fixed;
	z-index: 1000;
	top: 0;
}
/*about*/
.about-text{
	padding: 5px;
	border: 1px solid gray;
	border-radius: 10px;
}
/*myproject*/
.single-project{
	border: 1px solid gray;
	padding: 10px;
	text-align: center;
}
/*blog post*/
#about img{
	height: 200px;
}
.footer{
	background: black;
	color: white;
	padding: 100px;
}
.footer h3{
	text-decoration: underline;
}
.footer a{
	text-decoration: none;
	color: white;
}

.certificate-card{
    border-radius: 35px !important;
    border:none !important;
    transition: 0.5s;
}

.certificate-card:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transform: scale(0.98);
}
.certificate-card img{
    transition: 0.5s;
}

.certificate-card:hover img{
    transform: translateX(20px);
}

.certificate-card-des{
    height: 180px;
}
.blog-card{
    border-radius: 35px !important;
    border:none !important;
    transition: 0.5s;
}
.footer a:hover{
	transform: scale(1.2) !important;
}
/*blog page*/
.blog{
	padding: 20px;
}

.about img{
	width: 100%;
	border-radius: 5px;
}
.sidebar{
	padding: 20px;
}
.sidebar input[type = "text"]{
	border-radius: 5px 0 0 5px;
}
.sidebar button{
	border-radius: 0 5px 5px 0;
}
.post-detail{
	padding: 20px;
}
.post-detail img{
	width: 100%;
	/*height: 500px;*/
	border-radius: 5px;
	margin-bottom: 10px;
}
.message-box{
	width: 500px;
	border: 1px solid gray;
	border-radius: 100px;
	padding: 10px;
	background: #f2f3f4;
}
.slick-dots {

    display: flex;
    justify-content: center;
    align-items: center;

}

.slick-dots li{
    width: 10px !important;
    height: 10px !important;
    background-color: transparent;
    border: 2px solid #7E76F9;
    border-radius: 50%;
}
.slick-dots li.slick-active{
    width: 15px !important;
    height: 15px !important;
    background-color:black !important;
}

.ani-dalay-1{
    animation-delay: 0.3s;
}
.ani-dalay-2{
    animation-delay: 0.7s;
}
.ani-dalay-3{
    animation-delay:1.4s;
}
.ani-dalay-4{
    animation-delay: 2s;
}
.ani-dalay-5{
    animation-delay: 2.5s;
}
.ani-dalay-6{
    animation-delay: 2.5s;
}
.status-card{
    transition: 0.3s;
}
.status-card:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 15px rgba(0 ,0, 0, 0.2);
}
.status-card:active {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.scroll-to-top{

    width: 30px;
    height: 30px;
    line-height: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    animation: aa 1s ease-in-out;
    border-radius: 0.25rem;

}
@keyframes aa {
    from{
        transform: translateY(150px);
    }to{
         transform: translateY(0);
     }
}


 @media screen and (max-width: 1024px) {
     *{
         padding: 0;
         margin: 0;
         box-sizing: border-box;
     }
	.footer{
		padding: 10px;
	}
	 #navbar{
		 padding: 7px 0;
	 }

	 .nav-item a{
		 font-family: Arial;
		 text-decoration: none;
		 color:#fff;
		 font-size:15px;
		 text-transform: capitalize;
		 transition: 0.3s;
	 }
     .about-img{
         margin-top: 10px;
         width: 100%;
         padding: 5px;
     }
     .about_text{
         font-size: 25px;
         text-align: center;
     }
     .about-btn{
        margin-bottom: 10px;
     }
     .certificate-card{
         padding: 5px;
         margin-bottom: 5px;
     }
}
